In [1]:
import math
import numpy as np
import os
import pandas as pd
from itertools import islice

# CLASSES

  ## main data
   ### model.df['mof','sf','mofbp','sfbp']
   ### model.dates.df_dates['dow','block','date','wkend','day','ts']
   ### model.dates.mat
   
how do we deal with an imperfect model? it's much harder to troubleshoot when all the pieces are laid out. It requires systematically looking for viable trades. 
- identify residents with not enough shifts. They need mores shifts. Have them "search" for shifts occupied by people with >8 shifts and try to take them over (just don't take buddy shifts)
- just don't trade buddy shifts
- identify calls that could not be filled

In [356]:
# access date-related information]
os.chdir("/users/jkgerdts/Documents/")
residents = pd.read_csv('residents.csv')
assignments = np.genfromtxt('assignments.csv',delimiter=",",skip_header=1)
rotations = pd.read_csv('rotations.csv')

rotations.set_index('rotID',inplace=True)
residents.set_index('resID',inplace=True)

# for a specific resident, can make the rotations DF


class selector:
    
    def __init__(self,arr):
        self.arr = arr
        self.index = np.array([i for i in range(len(arr))])
        self.counts = np.array([0 for i in range(len(arr))])
        self.shuffle()
        self.s=0
        
    def shuffle(self):
        it = np.array([])
        for i in range(max(self.counts)+1):
            if i in self.counts:
                x = self.index[self.counts==i]
                np.random.shuffle(x)
                it = np.concatenate([it,x])
        self.it = iter(list(it.astype(int)))
        
    def sel(self):
        try:
            self.s = next(self.it)
            return self.arr[self.s]
        except StopIteration:
            self.shuffle()
            self.s = next(self.it)
            return self.arr[self.s]
        
    def count(self):
        self.counts[self.s]=self.counts[self.s]+1
        

class res:
    def __init__(self,rotations,assignments,residents,resID):
        ### PROPERTIES
        # rotations is a pandas dataframe with columns:
            # block (index), rotID, name, weight, inpatient(bool)
        # assignments is a 33x24 numerical matrix

        
        self.resID=resID
        self.name = residents.loc[resID]['name']
        self.junior=residents.loc[resID]['junior']
        self.year=residents.loc[resID]['year']
        self.block = rotations.loc[[x for x in assignments[resID-1,:]]].copy()
        self.block['block']=np.array(range(1,25)) # sets block integer for indexing
        self.block = self.block.reset_index() # this step allows keeping the rotID column
        self.block.set_index('block',inplace=True)
            # block (index), rotID, name, weight, inpatient
        self.dates = dates()
        self.calls = pd.DataFrame(columns=['dateID','site','buddy','dow','month','wkend','block'])
        self.requests = [] # can add day off requests as a customization
        
        
    def check_date(self,dateID,site):
        # returns boolean to accept or reject date and reason for failure
        
        block = self.dates.get_block(dateID)
        wkend = self.dates.get_wkend(dateID)
        dow = self.dates.get_dow(dateID)
        weight = self.block.loc[block]['weight']
        month = self.dates.get_month(dateID)
        

            # acceptable date based on "weight" in block table
        if weight==0:
            return (0,'block')

            # two calls same_weekend
        if wkend in self.calls['wkend'].values:
            return (0,'same_wkend')
        
            # two weeks in a row
        if wkend-1 in self.calls['wkend'].values:
            return (0,'prior_wkend')
        
        if wkend+1 in self.calls['wkend'].values:
            return (0, 'next_wkend')
        
            # repeat same DOW in a month
        if len(self.calls[(self.calls['dow']==dow) & (self.calls['month']==month)])>0:
            return (0, 'same_dow_month')
        
            # repeat same site in a month
        if len(self.calls[(self.calls['site']==site) & (self.calls['month']==month)])>0:
            return (0, 'same_site_month')
        
            # repeat same site/DOW as buddy shifts
        if self.isbuddy(site):
            if len(self.calls[(self.calls['site']==site) & (self.calls['dow']==dow) & (self.calls['buddy']==True)])>0:
                return (0, 'same_site_dow_buddy')
        
            # repeat same site/DOW > 3x for year
        if len(self.calls[(self.calls['site']==site) & (self.calls['dow']==dow)])>2:
            return (0, 'same_site_dow_year_3')
        
            # repeat same DOW > 5x for year
        if len(self.calls[self.calls['dow']==dow])>4:
            return (0, 'same_dow_year_5')
        
            # repeat same site > 5x for year
        if len(self.calls[self.calls['site']==site])>4:
            return (0, 'same_site_year_5')
        
            # more than 9 calls for year
        if len(self.calls)>8:
            return (0, 'total_calls_9')
        
            # last day before inpatient
        last = {(k+1):v for k,v in enumerate([15,14,15,15,15,15,15,15,15,15,15,15])}
        if last[month]==self.dates.get_ts(dateID).day:
            if block<24:
                if self.block.loc[block+1]['inpatient']:
                    return (0, 'last_day_before_inpt')
                
            # late_buddy
        if self.junior:
            if self.dates.get_ts(dateID) > pd.to_datetime('3/1/20'):
                if self.isbuddy(site):
                    return (0, 'late_buddy')
                
            # early solo
        if self.junior:
            if not self.isbuddy(site):
                if self.isbuddy({'sf':'mof','mof':'sf'}[site]):
                    return (0, 'early_solo')
                
            # birthday ##############################################
            
        return (weight, 'N/A') # no disqualifiers found
    
    def isbuddy(self,site):
        # returns True if next shift would be buddy for a given site
        return self.junior and len(self.calls[self.calls['site']==site])<2

    def set_call(self,dateID,site):
        
        block = self.dates.get_block(dateID)
        wkend = self.dates.get_wkend(dateID)
        dow = self.dates.get_dow(dateID)
        weight = self.block.loc[block]['weight']
        buddy = self.isbuddy(site)
        month = self.dates.get_month(dateID)
        
        self.calls = self.calls.append({'dateID':dateID,'site':site,'buddy':buddy,'dow':dow,
                           'month':month,'wkend':wkend,'block':block},ignore_index=True)
        return buddy

    
    def disp(self):
        print('Resident: {}'.format(self.name))
        print('  junior={}'.format(self.junior))
        print('  year={}'.format(self.year))
        print('  isbuddy moffitt: {} sfgh: {}'.format(self.isbuddy('mof'),self.isbuddy('sf')))
        print(self.block)
        print(self.calls)
        


        
    class dates:
        def __init__(self):
            os.chdir("/users/jkgerdts/Documents/")
            # dates is a matrix of dates, day of week, timestamps, week of year, weekend of year
            df_dates = pd.read_csv('dates.csv')
            df_dates['ts']=pd.to_datetime(df_dates['date'])
            df_dates['month']=[x.month for x in df_dates['ts']]
            # mat is matrix of acceptability generated outside
            mat = np.genfromtxt('mat.csv',delimiter=",",skip_header=1)
            assignments = np.genfromtxt('assignments.csv',delimiter=",",skip_header=1)
            rotations = pd.read_csv('rotations.csv')

            self.df_dates=df_dates
            self.mat = mat
            self.assignments=assignments
            self.rotations=rotations

        def get_val(self,resID,dateID):
            return self.mat[dateID-1,resID-1]

        def get_next(self,resID,dateID):
            if dateID==104:
                return 1
            else:
                return self.mat[dateID,resID-1]

        def get_block(self,dateID):
            return self.df_dates['block'][dateID-1]

        def get_wkend(self,dateID):
            return self.df_dates['wkend'][dateID-1]

        def get_month(self,dateID):
            return self.df_dates['month'][dateID-1]

        def get_ts(self,dateID):
            return self.df_dates['ts'][dateID-1]

        def get_dow(self,dateID):
            return self.df_dates['dow'][dateID-1]

        def get_assignment(self,resID,dateID):
            return self.assignments[resID-1,self.get_block(dateID)-1]

        def get_inpatient(self,resID,dateID):
            if dateID>104:
                return False
            else:
                return self.rotations['inpatient'][self.get_assignment(resID,dateID)-1]

In [166]:
R = res(rotations,assignments,residents,1)

In [360]:
juniors = selector([res(rotations,assignments,residents,i) for i in range(1,14)])
seniors = selector([res(rotations,assignments,residents,i) for i in range(14,34)])

log = pd.DataFrame(columns=['filled','dateID','site','resident','reason'])

def tryfill(dateID,site,pool,n):
    log = pd.DataFrame(columns=['filled','dateID','site','resident','reason'])
    filled = False
    buddy = False
    for i in range(40):
        R = pool.sel()
        check = R.check_date(dateID,site)
        if check[0]>0:
            pool.count()
            buddy = R.set_call(dateID,site)
            filled = True
            log = log.append({'filled':True,'dateID':dateID,'site':site,'resident':R.name,'reason':check[1]},ignore_index=True)
            break
        else:
            log = log.append({'filled':False,'dateID':dateID,'site':site,'resident':R.name,'reason':check[1]},ignore_index=True)
            #log.append({'dateID':dateID,'site':site,'resident':R.name,'reason':check[1]},ignore_index=True)
    return (filled,buddy,log)
            

for dateID in range(1,105):
    for site in ['mof','sf']:
        result = tryfill(dateID,site,juniors,28)
        log = pd.concat([log,result[2]],0)
        if result[0]:
            if result[1]:
                #buddyshifts.append((dateID,site))
                result = tryfill(dateID,site,seniors,38)
                log = pd.concat([log,result[2]],0)
        else:
            result = tryfill(dateID,site,seniors,38)
            log = pd.concat([log,result[2]],0)
            if not result[0]:
                print('failed to fill date {}'.format(dateID))

failed to fill date 91

In [ ]:
with pd.option_context('display.max_rows', None):
    print(log[log['dateID']==91])

In [359]:
log.to_csv('log.csv')

In [368]:
juniors.shuffle()
for i in range(len(juniors.arr)):
    juniors.sel().disp()

Resident: Mehta_N
  junior=True
  year=R2
  isbuddy moffitt: False sfgh: False
       rotID           name  weight  inpatient
block
1          5  Physicianship    0.00       True
2          5  Physicianship    0.00       True
3          9             NV    0.00       True
4          9             NV    0.00       True
5         13            Vac    0.00       True
6         34    QI Training    1.00      False
7          8         UCC Jr    0.00       True
8          4       VA NPhys    0.75      False
9          7          UC Jr    0.00       True
10         7          UC Jr    0.00       True
11        14       VA Rehab    0.75      False
12         2           Head    1.00      False
13        15         NSvc-M    0.00       True
14        10  Selective-TBD    1.00      False
15         6         ZSF Jr    0.00       True
16         6         ZSF Jr    0.00       True
17        26      UC Clinic    1.00      False
18        10  Selective-TBD    1.00      False
19        12         ZSF CC    0.00       True
20        12         ZSF CC    0.00       True
21         3          VA Jr    0.00       True
22         3          VA Jr    0.00       True
23         8         UCC Jr    0.00       True
24        13            Vac    0.00       True
  dateID site  buddy dow month wkend block
0     23  mof   True   6     9    12     6
1     31   sf   True   6    10    16     8
2     48  mof   True   7    12    24    11
3     60   sf   True   7     1    30    14
4     72  mof  False   7     3    36    17
5     75   sf  False   6     3    38    18
Resident: Diaz_M
  junior=True
  year=R2
  isbuddy moffitt: False sfgh: False
       rotID            name  weight  inpatient
block
1          4        VA NPhys    0.75      False
2          8          UCC Jr    0.00       True
3         29           Psych    1.00      False
4         29           Psych    1.00      False
5          9              NV    0.00       True
6          9              NV    0.00       True
7          2            Head    1.00      False
8         14        VA Rehab    0.75      False
9         13             Vac    0.00       True
10        26       UC Clinic    1.00      False
11         6          ZSF Jr    0.00       True
12         6          ZSF Jr    0.00       True
13        10   Selective-TBD    1.00      False
14        11        NSvc-ZSF    0.00       True
15        30  CN-Hospitalist    1.00      False
16        30  CN-Hospitalist    1.00      False
17        10   Selective-TBD    1.00      False
18        13             Vac    0.00       True
19         7           UC Jr    0.00       True
20         7           UC Jr    0.00       True
21         2            Head    1.00      False
22         8          UCC Jr    0.00       True
23         3           VA Jr    0.00       True
24         3           VA Jr    0.00       True
  dateID site  buddy dow month wkend block
0      1  mof   True   6     7     1     1
1     12  mof   True   7     8     6     3
2     15   sf   True   6     8     8     4
3     28   sf   True   7    10    14     7
4     31  mof  False   6    10    16     8
5     40  mof  False   7    11    20    10
6     43   sf  False   6    11    22    10
7     53   sf  False   6     1    27    13
8     62  mof  False   7     2    31    15
Resident: Moseley_C
  junior=True
  year=R2
  isbuddy moffitt: False sfgh: False
       rotID                        name  weight  inpatient
block
1          9                          NV    0.00       True
2          9                          NV    0.00       True
3         30              CN-Hospitalist    1.00      False
4         30              CN-Hospitalist    1.00      False
5          8                      UCC Jr    0.00       True
6         13                         Vac    0.00       True
7          7                       UC Jr    0.00       True
8          7                       UC Jr    0.00       True
9          3                       VA Jr    0.00       True
10         3                       VA Jr    0.00       True
11         2                        Head    1.00      False
12        26                   UC Clinic    1.00      False
13        29                       Psych    1.00      False
14        29                       Psych    1.00      False
15        10               Selective-TBD    1.00      False
16        13                         Vac    0.00       True
17         6                      ZSF Jr    0.00       True
18         6                      ZSF Jr    0.00       True
19        14                    VA Rehab    0.75      False
20        11                    NSvc-ZSF    0.00       True
21        40  Selective 5/1-5/7 ZSF Cons    0.00      False
22         2                        Head    1.00      False
23        10               Selective-TBD    1.00      False
24         8                      UCC Jr    0.00       True
  dateID site  buddy dow month wkend block
0     11   sf   True   6     8     6     3
1     16  mof   True   7     8     8     4
2     45  mof   True   6    12    23    11
3     50   sf   True   7    12    25    12
4     54  mof  False   7     1    27    13
5     57   sf  False   6     1    29    14
6     63   sf  False   6     2    32    15
7     80  mof  False   7     4    40    19
8     92   sf  False   7     5    46    22
Resident: Mahmood_N
  junior=True
  year=R2
  isbuddy moffitt: False sfgh: False
       rotID                                               name  weight  \
block
1          8                                             UCC Jr    0.00
2          4                                           VA NPhys    0.75
3         24                                             UC Sub    1.00
4         14                                           VA Rehab    0.75
5         13                                                Vac    0.00
6          2                                               Head    1.00
7          6                                             ZSF Jr    0.00
8          6                                             ZSF Jr    0.00
9         29                                              Psych    1.00
10        29                                              Psych    1.00
11        30                                     CN-Hospitalist    1.00
12        30                                     CN-Hospitalist    1.00
13         8                                             UCC Jr    0.00
14         2                                               Head    1.00
15        15                                             NSvc-M    0.00
16        10                                      Selective-TBD    1.00
17         7                                              UC Jr    0.00
18         7                                              UC Jr    0.00
19         3                                              VA Jr    0.00
20         3                                              VA Jr    0.00
21        39  Selective 5/8-5/11 Vac 5/12-5/25 Selective 5/2...    0.00
22        39  Selective 5/8-5/11 Vac 5/12-5/25 Selective 5/2...    0.00
23         9                                                 NV    0.00
24         9                                                 NV    0.00

       inpatient
block
1           True
2          False
3          False
4          False
5           True
6          False
7           True
8           True
9          False
10         False
11         False
12         False
13          True
14         False
15          True
16         False
17          True
18          True
19          True
20          True
21         False
22         False
23          True
24          True
  dateID site  buddy dow month wkend block
0      5   sf   True   6     7     3     2
1     10  mof   True   7     8     5     3
2     25  mof   True   6     9    13     6
3     38   sf   True   7    11    19     9
4     41  mof  False   6    11    21    10
5     46   sf  False   7    12    23    11
6     58   sf  False   7     1    29    14
7     61  mof  False   6     1    31    14
8     66  mof  False   7     2    33    16
Resident: Vassar_R
  junior=True
  year=R2
  isbuddy moffitt: False sfgh: False
       rotID           name  weight  inpatient
block
1          5  Physicianship    0.00       True
2          5  Physicianship    0.00       True
3          6         ZSF Jr    0.00       True
4          6         ZSF Jr    0.00       True
5         24         UC Sub    1.00      False
6         34    QI Training    1.00      False
7          1       ZSF Cons    0.00       True
8         13            Vac    0.00       True
9          8         UCC Jr    0.00       True
10         4       VA NPhys    0.75      False
11        11       NSvc-ZSF    0.00       True
12        25    ZSFG-Clinic    1.00      False
13         2           Head    1.00      False
14        14       VA Rehab    0.75      False
15         7          UC Jr    0.00       True
16         7          UC Jr    0.00       True
17        13            Vac    0.00       True
18         2           Head    1.00      False
19         9             NV    0.00       True
20         9             NV    0.00       True
21        10  Selective-TBD    1.00      False
22        10  Selective-TBD    1.00      False
23        12         ZSF CC    0.00       True
24        12         ZSF CC    0.00       True
  dateID site  buddy dow month wkend block
0     19  mof   True   6     9    10     5
1     24   sf   True   7     9    12     6
2     41   sf   True   6    11    21    10
3     50  mof   True   7    12    25    12
4     54   sf  False   7     1    27    13
5     57  mof  False   6     1    29    14
6     75  mof  False   6     3    38    18
7     87   sf  False   6     5    44    21
8     94  mof  False   7     5    47    22
Resident: Adjepong_K
  junior=True
  year=R2
  isbuddy moffitt: False sfgh: False
       rotID            name  weight  inpatient
block
1          1        ZSF Cons    0.00       True
2          2            Head    1.00      False
3          8          UCC Jr    0.00       True
4          4        VA NPhys    0.75      False
5          3           VA Jr    0.00       True
6          3           VA Jr    0.00       True
7         13             Vac    0.00       True
8          2            Head    1.00      False
9          9              NV    0.00       True
10         9              NV    0.00       True
11        24          UC Sub    1.00      False
12        15          NSvc-M    0.00       True
13        14        VA Rehab    0.75      False
14        10   Selective-TBD    1.00      False
15        13             Vac    0.00       True
16         8          UCC Jr    0.00       True
17        10   Selective-TBD    1.00      False
18        26       UC Clinic    1.00      False
19         6          ZSF Jr    0.00       True
20         6          ZSF Jr    0.00       True
21        30  CN-Hospitalist    1.00      False
22        30  CN-Hospitalist    1.00      False
23         7           UC Jr    0.00       True
24         7           UC Jr    0.00       True
  dateID site  buddy dow month wkend block
0      5  mof   True   6     7     3     2
1     13   sf   True   6     8     7     4
2     18  mof   True   7     8     9     4
3     32   sf   True   7    10    16     8
4     45   sf  False   6    12    23    11
5     55  mof  False   6     1    28    13
6     71  mof  False   6     3    36    17
7     76   sf  False   7     3    38    18
8     88  mof  False   7     5    44    21
Resident: Chiang_S
  junior=True
  year=R2
  isbuddy moffitt: False sfgh: False
       rotID            name  weight  inpatient
block
1          3           VA Jr    0.00       True
2          3           VA Jr    0.00       True
3         14        VA Rehab    0.75      False
4         24          UC Sub    1.00      False
5         30  CN-Hospitalist    1.00      False
6         30  CN-Hospitalist    1.00      False
7          9              NV    0.00       True
8          9              NV    0.00       True
9          2            Head    1.00      False
10         8          UCC Jr    0.00       True
11        13             Vac    0.00       True
12        10   Selective-TBD    1.00      False
13         7           UC Jr    0.00       True
14         7           UC Jr    0.00       True
15        10   Selective-TBD    1.00      False
16        15          NSvc-M    0.00       True
17         2            Head    1.00      False
18         4        VA NPhys    0.75      False
19         8          UCC Jr    0.00       True
20        13             Vac    0.00       True
21         6          ZSF Jr    0.00       True
22         6          ZSF Jr    0.00       True
23        29           Psych    1.00      False
24        29           Psych    1.00      False
  dateID site  buddy dow month wkend block
0      9  mof   True   6     8     5     3
1     14   sf   True   7     8     7     4
2     21   sf   True   6     9    11     5
3     26  mof   True   7     9    13     6
4     35  mof  False   6    11    18     9
5     49  mof  False   6    12    25    12
6     64  mof  False   7     2    32    15
7     72   sf  False   7     3    36    17
8     97   sf  False   6     6    49    23
Resident: Kaufman_S
  junior=True
  year=R2
  isbuddy moffitt: False sfgh: False
       rotID            name  weight  inpatient
block
1          7           UC Jr    0.00       True
2          7           UC Jr    0.00       True
3         29           Psych    1.00      False
4         29           Psych    1.00      False
5         13             Vac    0.00       True
6          8          UCC Jr    0.00       True
7         30  CN-Hospitalist    1.00      False
8         30  CN-Hospitalist    1.00      False
9          6          ZSF Jr    0.00       True
10         6          ZSF Jr    0.00       True
11         4        VA NPhys    0.75      False
12         8          UCC Jr    0.00       True
13         9              NV    0.00       True
14         9              NV    0.00       True
15         3           VA Jr    0.00       True
16         3           VA Jr    0.00       True
17        13             Vac    0.00       True
18        15          NSvc-M    0.00       True
19         2            Head    1.00      False
20         8          UCC Jr    0.00       True
21        14        VA Rehab    0.75      False
22        10   Selective-TBD    1.00      False
23         1        ZSF Cons    0.00       True
24        10   Selective-TBD    1.00      False
  dateID site  buddy dow month wkend block
0      9   sf   True   6     8     5     3
1     14  mof   True   7     8     7     4
2     29  mof   True   6    10    15     7
3     34   sf   True   7    10    17     8
4     46  mof  False   7    12    23    11
5     79   sf  False   6     4    40    19
6     87  mof  False   6     5    44    21
7     94   sf  False   7     5    47    22
8    101  mof  False   6     6    51    24
Resident: Hines_H
  junior=True
  year=R2
  isbuddy moffitt: False sfgh: False
       rotID            name  weight  inpatient
block
1          6          ZSF Jr    0.00       True
2          6          ZSF Jr    0.00       True
3          2            Head    1.00      False
4          8          UCC Jr    0.00       True
5          4        VA NPhys    0.75      False
6         35     Selective-F    1.00      False
7         35     Selective-F    1.00      False
8         35     Selective-F    1.00      False
9         13             Vac    0.00       True
10        14        VA Rehab    0.75      False
11         9              NV    0.00       True
12         9              NV    0.00       True
13        13             Vac    0.00       True
14        26       UC Clinic    1.00      False
15         8          UCC Jr    0.00       True
16         2            Head    1.00      False
17         3           VA Jr    0.00       True
18         3           VA Jr    0.00       True
19        11        NSvc-ZSF    0.00       True
20        14        VA Rehab    0.75      False
21         7           UC Jr    0.00       True
22         7           UC Jr    0.00       True
23        30  CN-Hospitalist    1.00      False
24        30  CN-Hospitalist    1.00      False
  dateID site  buddy dow month wkend block
0     11  mof   True   6     8     6     3
1     20   sf   True   7     9    10     5
2     27   sf   True   6    10    14     7
3     32  mof   True   7    10    16     8
4     40   sf  False   7    11    20    10
5     43  mof  False   6    11    22    10
6     58  mof  False   7     1    29    14
7     61   sf  False   6     1    31    14
8     66   sf  False   7     2    33    16
Resident: Pet_D
  junior=True
  year=R2
  isbuddy moffitt: False sfgh: False
       rotID                                          name  weight  inpatient
block
1          9                                            NV    0.00       True
2          9                                            NV    0.00       True
3          3                                         VA Jr    0.00       True
4          3                                         VA Jr    0.00       True
5          6                                        ZSF Jr    0.00       True
6          6                                        ZSF Jr    0.00       True
7         36  Vac 10/12-10/27 Selective 10/28-10/31 UC Sub    0.00       True
8         36  Vac 10/12-10/27 Selective 10/28-10/31 UC Sub    0.00       True
9         25                                   ZSFG-Clinic    1.00      False
10         2                                          Head    1.00      False
11         7                                         UC Jr    0.00       True
12         7                                         UC Jr    0.00       True
13         4                                      VA NPhys    0.75      False
14         8                                        UCC Jr    0.00       True
15        10                                 Selective-TBD    1.00      False
16        26                                     UC Clinic    1.00      False
17        30                                CN-Hospitalist    1.00      False
18        30                                CN-Hospitalist    1.00      False
19        24                                        UC Sub    1.00      False
20        13                                           Vac    0.00       True
21         8                                        UCC Jr    0.00       True
22        10                                 Selective-TBD    1.00      False
23        11                                      NSvc-ZSF    0.00       True
24         2                                          Head    1.00      False
  dateID site  buddy dow month wkend block
0     35   sf   True   6    11    18     9
1     42  mof   True   7    11    21    10
2     56   sf   True   7     1    28    13
3     65  mof   True   6     2    33    15
4     70   sf  False   7     2    35    16
5     73  mof  False   6     3    37    17
6     78   sf  False   7     3    39    18
7     81  mof  False   6     4    41    19
8     93   sf  False   6     5    47    22
Resident: Breithaupt_A
  junior=True
  year=R2
  isbuddy moffitt: False sfgh: False
       rotID            name  weight  inpatient
block
1          2            Head    1.00      False
2          1        ZSF Cons    0.00       True
3          4        VA NPhys    0.75      False
4          2            Head    1.00      False
5          7           UC Jr    0.00       True
6          7           UC Jr    0.00       True
7          3           VA Jr    0.00       True
8          3           VA Jr    0.00       True
9         29           Psych    1.00      False
10        29           Psych    1.00      False
11         8          UCC Jr    0.00       True
12        13             Vac    0.00       True
13        26       UC Clinic    1.00      False
14        10   Selective-TBD    1.00      False
15         9              NV    0.00       True
16         9              NV    0.00       True

In [ ]:
seniors.shuffle()
for i in range(len(seniors.arr)):
    seniors.sel().disp()

In [372]:
R = juniors.arr[9]
for col in ['mof','sf']:
    for dateID in range(1,105):
        if R.check_date(dateID,site)[0]>0:
            print('date: {}   site: {}'.format(dateID,site))

date: 51   site: sf
date: 51   site: sf

    mof   sf  mofbp  sfbp
0  0.00  1.0   1.00   1.0
1  0.00  0.0   0.00   1.0
2  0.00  0.0   0.75   0.0
3  0.00  0.0   0.00   0.0
4  0.75  0.0   0.75   1.0

   mof  sf  mofbp  sfbp
0   22  23      0     0
1    2   6     24    30
2   10   2     18    22
3    8   8     28    27
4    9  16     32     0

# key functions

In [474]:
# shuffle positions ------------

In [475]:
D = dates()

In [477]:
D.get_val(4,1)

0.75

#

np.cumsum([1,2,3,4])

In [423]:
# buddy call after november 0.1


#solo before 4 buddies 0
# lastbuddy, firstsolo
for x in range(1,14):
    lastbuddy = max([[j for j,i in enumerate(mof) if i==x][1],[j for j,i in enumerate(sf) if i==x][1]])
    firstsolo = min([[j for j,i in enumerate(mof) if i==x][2],[j for j,i in enumerate(sf) if i==x][2]])
    print('{}, {}'.format(lastbuddy,firstsolo))
    if firstsolo<lastbuddy:
        print('--problem: {}'.format(x))
    if lastbuddy>44:
        print('--lastbuddy > 44')


#two weekends in a row 0.1
    #twice same weekend 0
    # given column wkendID
wkendID = [i for i in range(104)]

for x in range(1,34):
    wkends = []
    for i,j in enumerate(mof):
        if j==x:
            wkends.append(wkendID[i])
    for i,j in enumerate(sf):
        if j==x:
            wkends.append(wkendID[i])
    for i,j in enumerate(mofbp):
        if j==x:
            wkends.append(wkendID[i])
    for i,j in enumerate(sfbp):
        if j==x:
            wkends.append(wkendID[i])
    wkends.sort()
    deltas = [j-i for i,j in zip(wkends[0:-1],wkends[1:])]
    print(deltas)
    if 0 in deltas:
        print('--two shifts same weekend')
    if 1 in deltas:
        print('--two weekends in a row...')

#saturday before starting night float 0


#one day before inpatient 0


#3 calls one month 0


# two calls same block 0


#same site twice same month 0.1


#same DOW 2x same month 0.5

[6, 10, 7, 7, 1, 9, 18]
--two weekends in a row...
[1, 24, 4, 10, 12, 6, 14]
--two weekends in a row...
[1, 29, 5, 7, 11, 10, 14]
--two weekends in a row...
[9, 14, 3, 37, 9, 10, 1]
--two weekends in a row...
[20, 11, 6, 7, 9, 10, 19]
[2, 6, 19, 21, 6, 9, 13]
[5, 16, 7, 21, 23, 10, 0]
--two shifts same weekend
[27, 4, 3, 26, 5, 3, 1]
--two weekends in a row...
[12, 4, 3, 26, 4, 26, 18]
[1, 6, 14, 46, 9, 1, 15]
--two weekends in a row...
[3, 2, 13, 16, 10, 10, 23]
[14, 30, 0, 3, 11, 7, 25]
--two shifts same weekend
[45, 0, 11, 8, 8, 18, 0]
--two shifts same weekend
[20, 25, 1, 7, 1, 11, 10]
--two weekends in a row...
[18, 7, 6, 2, 4, 4, 6]
[5, 5, 20, 24, 3, 7, 32]
[10, 14, 3, 34, 0, 14, 4]
--two shifts same weekend
[6, 4, 10, 11, 4, 19, 3]
[13, 1, 8, 3, 7, 12, 26]
--two weekends in a row...
[3, 19, 5, 13, 14, 32, 6]
[12, 27, 0, 20, 8, 2, 31]
--two shifts same weekend
[3, 7, 27, 1, 26, 15, 10]
--two weekends in a row...
[17, 2, 2, 27, 4, 37, 6]
[4, 12, 3, 33, 11, 7, 2]
[16, 2, 14, 1, 1, 53]
--two weekends in a row...
[11, 5, 15, 27, 7, 2, 22]
[20, 12, 39, 1, 11, 6, 3]
--two weekends in a row...
[1, 2, 9, 22, 1, 22, 27]
--two weekends in a row...
[14, 2, 33, 15, 17]
[27, 6, 4, 3, 1, 11, 23]
--two weekends in a row...
[10, 3, 29, 15, 2, 30, 5]
[4, 10, 7, 3, 1, 46, 2]
--two weekends in a row...
[2, 5, 53, 2, 5, 16]

In [411]:
[i-j for i,j in zip(wkends[0:],wkends[:-1])]

[0, 0, 0, 0, 0, 0]

# Import data from CSV

In [433]:
ts = df_dates['ts'][0]

In [440]:
# if last day of block and going to inpatient
if all([ts.month==2,ts.day==14]) or all([ts.month not in [2],ts.day==15]):

7

In [443]:
any([ts.month==2,ts.day==14])

False

# extracting features

# OLD

In [ ]:

class reslist:
    def __init__(self,low,high,reps):
        self.arr = []
        for j in range(reps):
            for i in range(low,high+1):
                self.arr.append(i)
        self.discard = []
        self.returncount = 0
        self.arr = np.array(self.arr)
        np.random.shuffle(self.arr)
        self.arr = list(self.arr)
        
    def shuffle(self):
        self.arr = np.array(self.arr)
        np.random.shuffle(self.arr)
        self.arr = list(self.arr)
        
    def sel(self):
        if len(self.arr)<1:
            self.arr=self.discard[:]
            self.discard = []
            self.returncount=self.returncount+1
        s = self.arr.pop()
        return s
    
    def ret(self,value):
        self.discard.append(value)
        
    def report(self):
        print('len(arr)={}, len(discard)={}, returncount={}'.format(len(self.arr),len(self.discard),self.returncount))
        
seniors = reslist(14,33,8)
juniors = reslist(1,13,8)

In [480]:
df_dates

                  date  dow  block  wkend  day         ts
0          July 5 2019    6      1      1    1 2019-07-05
1          July 6 2019    7      1      1    2 2019-07-06
2         July 12 2019    6      1      2    3 2019-07-12
3         July 13 2019    7      1      2    4 2019-07-13
4         July 19 2019    6      2      3    5 2019-07-19
5         July 20 2019    7      2      3    6 2019-07-20
6         July 26 2019    6      2      4    7 2019-07-26
7         July 27 2019    7      2      4    8 2019-07-27
8        August 2 2019    6      3      5    9 2019-08-02
9        August 3 2019    7      3      5   10 2019-08-03
10       August 9 2019    6      3      6   11 2019-08-09
11      August 10 2019    7      3      6   12 2019-08-10
12      August 16 2019    6      4      7   13 2019-08-16
13      August 17 2019    7      4      7   14 2019-08-17
14      August 23 2019    6      4      8   15 2019-08-23
15      August 24 2019    7      4      8   16 2019-08-24
16      August 30 2019    6      4      9   17 2019-08-30
17      August 31 2019    7      4      9   18 2019-08-31
18    September 6 2019    6      5     10   19 2019-09-06
19    September 7 2019    7      5     10   20 2019-09-07
20   September 13 2019    6      5     11   21 2019-09-13
21   September 14 2019    7      5     11   22 2019-09-14
22   September 20 2019    6      6     12   23 2019-09-20
23   September 21 2019    7      6     12   24 2019-09-21
24   September 27 2019    6      6     13   25 2019-09-27
25   September 28 2019    7      6     13   26 2019-09-28
26      October 4 2019    6      7     14   27 2019-10-04
27      October 5 2019    7      7     14   28 2019-10-05
28     October 11 2019    6      7     15   29 2019-10-11
29     October 12 2019    7      7     15   30 2019-10-12
..                 ...  ...    ...    ...  ...        ...
74       March 20 2020    6     18     38   75 2020-03-20
75       March 21 2020    7     18     38   76 2020-03-21
76       March 27 2020    6     18     39   77 2020-03-27
77       March 28 2020    7     18     39   78 2020-03-28
78        April 3 2020    6     19     40   79 2020-04-03
79        April 4 2020    7     19     40   80 2020-04-04
80       April 10 2020    6     19     41   81 2020-04-10
81       April 11 2020    7     19     41   82 2020-04-11
82       April 17 2020    6     20     42   83 2020-04-17
83       April 18 2020    7     20     42   84 2020-04-18
84       April 24 2020    6     20     43   85 2020-04-24
85       April 25 2020    7     20     43   86 2020-04-25
86          May 1 2020    6     21     44   87 2020-05-01
87          May 2 2020    7     21     44   88 2020-05-02
88          May 8 2020    6     21     45   89 2020-05-08
89          May 9 2020    7     21     45   90 2020-05-09
90         May 15 2020    6     21     46   91 2020-05-15
91         May 16 2020    7     22     46   92 2020-05-16
92         May 22 2020    6     22     47   93 2020-05-22
93         May 23 2020    7     22     47   94 2020-05-23
94         May 29 2020    6     22     48   95 2020-05-29
95         May 30 2020    7     22     48   96 2020-05-30
96         June 5 2020    6     23     49   97 2020-06-05
97         June 6 2020    7     23     49   98 2020-06-06
98        June 12 2020    6     23     50   99 2020-06-12
99        June 13 2020    7     23     50  100 2020-06-13
100       June 19 2020    6     24     51  101 2020-06-19
101       June 20 2020    7     24     51  102 2020-06-20
102       June 26 2020    6     24     52  103 2020-06-26
103       June 27 2020    7     24     52  104 2020-06-27

[104 rows x 6 columns]

In [488]:
df

     mof  sf  mofbp  sfbp
0     16  13      0    28
1      5   8     24    33
2     32  28      0     0
3     13  20     17     0
4     11   1     30    20
5      7  15     18     0
6     15   4      0    24
7     14   1      0    15
8     12  11     18    33
9     24  22      0     0
10    30   5      0    23
11    28   8      0    16
12    12  28     31     0
13    32  22      0     0
14    33  10      0    26
15    27   9      0    15
16     7   5     26    14
17    29  20      0     0
18    16   5      0     0
19     2   1     21     0
20    14   9      0    17
21    18  19      0     0
22     1  18     25     0
23    10  17     20     0
24    17  27      0     0
25    15   6      0    27
26     1  22     22     0
27     1  13      0    32
28    21   6      0    25
29    26   2      0    14
..   ...  ..    ...   ...
74     4  15      0     0
75    14  13      0     0
76    25  17      0     0
77    33   7      0     0
78    32  12      0     0
79     5  29      0     0
80    25   2      0     0
81     6  14      0     0
82    18   3      0     0
83    23  32      0     0
84    10   4      0     0
85    15   8      0     0
86     4  21      0     0
87    31   7      0     0
88    31  25      0     0
89     7  27      0     0
90    17   6      0     0
91     9  25      0     0
92     5  19      0     0
93    13  18      0     0
94     9  29      0     0
95    23  31      0     0
96    28   2      0     0
97    29  12      0     0
98    20  21      0     0
99     3  11      0     0
100    8   4      0     0
101   33  10      0     0
102   24  20      0     0
103   11  26      0     0

[104 rows x 4 columns]

In [625]:
df['mof','sf','mofbp'][4:5].values.flatten()

SyntaxError: invalid syntax (<ipython-input-625-74824a0fa0e8>, line 1)

In [614]:
ts = M.dates.get_ts(1)

In [615]:
ts.day

5

In [627]:
M.df[(M.dates.df_dates['dow']==6) & (M.dates.df_dates['day']<20)]

    mof  sf  mofbp  sfbp
0     4  33     26     0
2    15  25      0     0
4     7   7     19    15
6    11  19     25     0
8     7  32     25     0
10   25  32      0     0
12   31  14      0     0
14   32  29      0     0
16   18   7      0     0
18   15  17      0     0

In [640]:
next((x for i,x in enumerate(range(5)) if x in [1,3]))

TypeError: 'int' object is not subscriptable

In [648]:
from itertools import islice
[i for i in islice((x for i,x in enumerate(range(5))),3)]

[0, 1, 2]

[1, 3, 5]

In [664]:
M.dates.df_dates['dow'][[j for j in islice((i for i,x in enumerate(M.df['mof'].values) if x==1),2)]].values

array([7, 6])

In [665]:
arr = np.array([6,7])

In [666]:
np.unique(arr)

array([6, 7])

In [667]:
arr[0]==arr[1]

False

In [683]:
rotations = pd.read_csv('rotations.csv')
rotations

,rotID,name,weight,inpatient
0,1,ZSF Cons,0.00,True
1,2,Head,1.00,False
2,3,VA Jr,0.00,True
3,4,VA NPhys,0.75,False
4,5,Physicianship,0.00,True
5,6,ZSF Jr,0.00,True
6,7,UC Jr,0.00,True
7,8,UCC Jr,0.00,True
8,9,NV,0.00,True
9,10,Selective-TBD,1.00,False
10,11,NSvc-ZSF,0.00,True
11,12,ZSF CC,0.00,True
12,13,Vac,0.00,True
13,14,VA Rehab,0.75,False
14,15,NSvc-M,0.00,True
15,16,VA Sr,0.00,True
16,17,CN-Epilepsy,1.00,False
17,18,UCC Sr,0.00,True
18,19,UC Sr,0.00,True
19,20,CN-NICN-Clinic,1.00,False
20,21,ZSF Sr,0.00,True
21,22,Flex Res-E,1.00,False
22,23,Flex Res-A,1.00,False
23,24,UC Sub,1.00,False
24,25,ZSFG-Clinic,1.00,False
25,26,UC Clinic,1.00,False
26,27,VA Tel,0.75,False
27,28,Flex Res-C,1.00,False
28,29,Psych,1.00,False
29,30,CN-Hospitalist,1.00,False
30,31,Vac 8/25-8/31 NSvc-ZSF,0.00,True
31,32,Flex Res-W,1.00,False
32,33,Flex Res-L,1.00,False
33,34,QI Training,1.00,False
34,35,Selective-F,1.00,False
35,36,Vac 10/12-10/27 Selective 10/28-10/31 UC Sub,0.00,True
36,37,Vac 12/23-12/31 Selective-TBD,0.00,True
37,38,Selective-TBD 3/16-3/22 NSvc-ZSF,0.00,False
38,39,Selective 5/8-5/11 Vac 5/12-5/25 Selective 5/2...,0.00,False
39,40,Selective 5/1-5/7 ZSF Cons,0.00,False
40,41,Selective-TBD 6/16-6/22 VA Rehab,0.75,False

In [682]:
rotations['inpatient'][rotations['rotID']>4].values

array([ True,  True,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True, False,  True,  True, False,  True, False,
       False, False, False, False, False, False, False, False,  True,
       False, False, False, False,  True,  True, False, False, False,
       False])

In [688]:
test = M.df.copy()

In [690]:
test[:]=0

In [692]:
M.df

     mof  sf  mofbp  sfbp
0     25   6      0    16
1     31  11      0    18
2     21   3      0    20
3     18   9      0    15
4      1   1     30    24
5      8  20     25     0
6     10  13     19    27
7     21  17      0     0
8     26  25      0     0
9      4  30     26     0
10    14  18      0     0
11    12   9     15    21
12     9   3     29    15
13    32  27      0     0
14    25  20      0     0
15    23  19      0     0
16     3   8     14    18
17     5  22     27     0
18    29  30      0     0
19    17   1      0    32
20    28  16      0     0
21    11   8     24    23
22     3  10     29    31
23     2   6     19    20
24     8  33     17     0
25    12  26     31     0
26    16   7      0    16
27    32  13      0    14
28     1  13     32     0
29    20  12      0    23
..   ...  ..    ...   ...
74    30  18      0     0
75    31   7      0     0
76    25   8      0     0
77    15  21      0     0
78     9   8      0     0
79    20  19      0     0
80     7  32      0     0
81     1  21      0     0
82    13   4      0     0
83    24   6      0     0
84     5  31      0     0
85     6   2      0     0
86     2  28      0     0
87    11  31      0     0
88    20  12      0     0
89    30   9      0     0
90    15  28      0     0
91    14  11      0     0
92    23   5      0    31
93    32  22      0     0
94    29  33      0     0
95    33  15      0     0
96    22  12      0     0
97    22  10      0     0
98    13   5      0     0
99     2  14      0     0
100   23   5      0     0
101    7   6      0     0
102   33  11      0     0
103   27  29      0     0

[104 rows x 4 columns]

In [746]:
M.df[:][M.dates.df_dates['dow']==7]

     mof  sf  mofbp  sfbp
1      2   4     24    19
3      4  13     14    19
5     11  17     29     0
7     19  12      0    26
9     14  26      0     0
11    32   4      0    22
13     9   5     22    17
15     6  25     15     0
17    31  11      0    25
19     1   1     14    27
21     8  20     32     0
23    13   5     27    18
25    27  15      0     0
27    30  25      0     0
29     2   6     23    19
31    22  18      0     0
33    30   8      0    14
35     3   2     25    25
37    29  11      0    15
39     4   9     28    15
41     7  33     20     0
43    21   2      0    22
45    27   9      0    31
47    18  24      0     0
49     8  10      0     0
51     9  14     23     0
53     3  28      0     0
55     6   6      0     0
57    16  29      0     0
59     4   7      0    30
61     4  30      0     0
63     5  32      0     0
65    24  23      0     0
67     5   8      0     0
69     2  23      0     0
71    14  22      0     0
73     6  11      0     0
75    20  23      0     0
77    23   3      0     0
79    19  31      0     0
81    29   3      0     0
83    33  24      0     0
85    25  21      0     0
87     7   9      0     0
89    12  13      0     0
91    22  21      0     0
93    20  30      0     0
95     9  16      0     0
97     8   9      0     0
99    17  13      0     0
101   12   2      0     0
103   17  11      0     0

In [750]:
sum([x==1 for x in M.df[:][M.dates.df_dates['dow']==7].values.flatten()])

2

In [765]:
test = [0,1]
test[::-1]

[1, 0]

In [767]:
M.df['mof'][M.dates.df_dates['wkend']==2]

2    28
3     8
Name: mof, dtype: int64

In [768]:
vals = M.df['mof'][M.dates.df_dates['wkend']==2].values
M.df['mof'][M.dates.df_dates['wkend']==2]=vals[::-1]

In [769]:
M.df['mof'][M.dates.df_dates['wkend']==2]

2     8
3    28
Name: mof, dtype: int64

In [773]:
counter = iter(range(100))

In [778]:
next(counter)

2

AttributeError: 'numpy.ndarray' object has no attribute 'random'

In [954]:
missing = []
missing.append(('test',1))

In [955]:
missing

[('test', 1)]

In [957]:
missing[0][1]

1

In [1059]:
D.rotations

,rotID,name,weight,inpatient
0,1,ZSF Cons,0.00,True
1,2,Head,1.00,False
2,3,VA Jr,0.00,True
3,4,VA NPhys,0.75,False
4,5,Physicianship,0.00,True
5,6,ZSF Jr,0.00,True
6,7,UC Jr,0.00,True
7,8,UCC Jr,0.00,True
8,9,NV,0.00,True
9,10,Selective-TBD,1.00,False
10,11,NSvc-ZSF,0.00,True
11,12,ZSF CC,0.00,True
12,13,Vac,0.00,True
13,14,VA Rehab,0.75,False
14,15,NSvc-M,0.00,True
15,16,VA Sr,0.00,True
16,17,CN-Epilepsy,1.00,False
17,18,UCC Sr,0.00,True
18,19,UC Sr,0.00,True
19,20,CN-NICN-Clinic,1.00,False
20,21,ZSF Sr,0.00,True
21,22,Flex Res-E,1.00,False
22,23,Flex Res-A,1.00,False
23,24,UC Sub,1.00,False
24,25,ZSFG-Clinic,1.00,False
25,26,UC Clinic,1.00,False
26,27,VA Tel,0.75,False
27,28,Flex Res-C,1.00,False
28,29,Psych,1.00,False
29,30,CN-Hospitalist,1.00,False
30,31,Vac 8/25-8/31 NSvc-ZSF,0.00,True
31,32,Flex Res-W,1.00,False
32,33,Flex Res-L,1.00,False
33,34,QI Training,1.00,False
34,35,Selective-F,1.00,False
35,36,Vac 10/12-10/27 Selective 10/28-10/31 UC Sub,0.00,True
36,37,Vac 12/23-12/31 Selective-TBD,0.00,True
37,38,Selective-TBD 3/16-3/22 NSvc-ZSF,0.00,False
38,39,Selective 5/8-5/11 Vac 5/12-5/25 Selective 5/2...,0.00,False
39,40,Selective 5/1-5/7 ZSF Cons,0.00,False
40,41,Selective-TBD 6/16-6/22 VA Rehab,0.75,False

<bound method NDFrame.keys of     resID              name  junior year
0       1        Adjepong_K    True   R2
1       2      Breithaupt_A    True   R2
2       3          Chiang_S    True   R2
3       4            Diaz_M    True   R2
4       5         Dilwali_S    True   R2
5       6         Harnenz_Z    True   R2
6       7           Hines_H    True   R2
7       8         Kaufman_S    True   R2
8       9         Mahmood_N    True   R2
9      10           Mehta_N    True   R2
10     11         Moseley_C    True   R2
11     12             Pet_D    True   R2
12     13          Vassar_R    True   R2
13     14        Goslinga_J   False   R3
14     15          Holmes_B   False   R3
15     16    Lane-Donovan_C   False   R3
16     17       Lindquist_B   False   R3
17     18          Martin_P   False   R3
18     19         Mefford_A   False   R3
19     20        Nylander_A   False   R3
20     21       Parikshak_N   False   R3
21     22          Sriram_S   False   R3
22     23  Zahed Kargaran_H   False   R3
23     24            Bock_M   False   R4
24     25          Gerdts_J   False   R4
25     26            Goss_A   False   R4
26     27          Johung_T   False   R4
27     28         Motzkin_J   False   R4
28     29         Patrick_L   False   R4
29     30         Sanford_J   False   R4
30     31          Tanner_J   False   R4
31     32          Warmus_B   False   R4
32     33            Wong_K   False   R4>

In [4]:
os.chdir("/users/jkgerdts/Documents/")
residents = pd.read_csv('residents.csv')
assignments = np.genfromtxt('assignments.csv',delimiter=",",skip_header=1)
rotations = pd.read_csv('rotations.csv')
rotations.set_index('rotID',inplace=True)
residents.set_index('resID',inplace=True)

In [38]:

test

       rotID            name  weight  inpatient
block
1          2            Head    1.00      False
2          1        ZSF Cons    0.00       True
3          4        VA NPhys    0.75      False
4          2            Head    1.00      False
5          7           UC Jr    0.00       True
6          7           UC Jr    0.00       True
7          3           VA Jr    0.00       True
8          3           VA Jr    0.00       True
9         29           Psych    1.00      False
10        29           Psych    1.00      False
11         8          UCC Jr    0.00       True
12        13             Vac    0.00       True
13        26       UC Clinic    1.00      False
14        10   Selective-TBD    1.00      False
15         9              NV    0.00       True
16         9              NV    0.00       True
17         8          UCC Jr    0.00       True
18        13             Vac    0.00       True
19        30  CN-Hospitalist    1.00      False
20        30  CN-Hospitalist    1.00      False
21        15          NSvc-M    0.00       True
22        10   Selective-TBD    1.00      False
23         6          ZSF Jr    0.00       True
24         6          ZSF Jr    0.00       True

In [49]:
{'dateID':4,'site':4,'buddy':4,
     'dow':4,'month':4,
     'wkend':4,'block':4}

{'dateID': 4,
 'site': 4,
 'buddy': 4,
 'dow': 4,
 'month': 4,
 'wkend': 4,
 'block': 4}

  dateID site buddy dow month wkend block
0      1  mof  True   6     5    22     7

In [56]:
len(residents[(residents['junior']==False) & (residents['year']=='R2')])

0

'sf'

In [73]:
format('test{}test{}'.format(R.isbuddy('mof'),R.isbuddy('sf')))

'testTruetestTrue'

In [ ]:
class model:
    def __init__(self,dates):
        self.dates=dates
        
        ############ another version:
        mof = []
        sf = []
        buddy = []
        remainder = []
        for i in range(1,5):
            for j in range(1,14):
                mof.append(j)
                sf.append(j)
        for i in range(1,3):
            for j in range(14,34):
                mof.append(j)
                sf.append(j)
        for i in range(1,3):
            for j in range(14,34):
                buddy.append(j)

        for j in range(2):
            remainder=np.array([i for i in range(14,34)])
            np.random.shuffle(remainder)
            remainder = list(remainder)
            r = iter(remainder)
            for i in range(6):
                mof.append(next(r))
                sf.append(next(r))
                buddy.append(next(r))


        # shuffle all:
        def shuffle(lst):
            n = np.array(lst)
            np.random.shuffle(n)
            return list(n)

        mof = shuffle(mof)
        sf = shuffle(sf)
        buddy= shuffle(buddy)
        mofb = buddy[:26]
        sfb = buddy[26:]

        # pad the buddy lists with zeros
        mof_counters={}
        for i in range(1,14):
            mof_counters[i]=0
        sf_counters={}
        for i in range(1,14):
            sf_counters[i]=0

        mofbp = []
        sfbp = []
        for i in range(104):
            if mof[i]<14:
                if mof_counters[mof[i]]<2:
                    mofbp.append(mofb.pop())
                    mof_counters[mof[i]]=mof_counters[mof[i]]+1
                else:
                    mofbp.append(0)
            else:
                mofbp.append(0)
            if sf[i]<14:
                if sf_counters[sf[i]]<2:
                    sfbp.append(sfb.pop())
                    sf_counters[sf[i]]=sf_counters[sf[i]]+1
                else:
                    sfbp.append(0)
            else:
                sfbp.append(0)

        final = numpy.concatenate([[mof],[sf],[mofbp],[sfbp]])

        df = pd.DataFrame(final.transpose(),columns=['mof','sf','mofbp','sfbp'])
        
        self.df = df
        
        
    def count_block(self,resID,dateID):
        return sum([x==resID for x in self.df[:][self.dates.df_dates['block']==self.dates.get_block(dateID)].values.flatten()])
            
    def count_wkend(self,resID,dateID):
        return sum([x==resID for x in self.df[:][self.dates.df_dates['wkend']==self.dates.get_wkend(dateID)].values.flatten()])
        
    def prior_wkend(self,resID,dateID):
        # returns boolean indicating whether resident worked prior weekend
        if self.dates.get_wkend(dateID)==1:
            return False
        else:
            return sum([x==resID for x in self.df[:][self.dates.df_dates['wkend']==self.dates.get_wkend(dateID)-1].values.flatten()])>0
        
    def latebuddy(self,resID,dateID,col):
        if resID < 15 and self.dates.get_ts(dateID) > pd.to_datetime('11/1/19'):

            # ensure that there are indeed 14 R2s next year ##################################################

            # if R2 and it's November or later, ensure there have been at least 2 prior shifts
            return 2>sum([x==resID for x in self.df[col][self.dates.df_dates['day']<dateID].values])
        else:
            return False
        
    def earlysolo(self,resID,dateID,col):
        # if junior and specified date is solo, check to see if there have been at least two prior calls at other site
        if resID < 15 and 2<=sum([x==resID for x in self.df[col][self.dates.df_dates['day']<dateID].values]) and col in ['mof','sf']:
            othercol = {'mof':'sf','sf':'mof'}[col]
            return 2>sum([x==resID for x in self.df[othercol][self.dates.df_dates['day']<dateID].values])
        else:
            return False
        
    ############ last day before inpatient
    def day_before_inpt(self,resID,dateID):
        ###################
        last = {(k+1):v for k,v in enumerate([15,14,15,15,15,15,15,15,15,15,15,15])}
        if last[self.dates.get_month(dateID)]==self.dates.get_ts(dateID).day:
            return self.dates.get_inpatient(resID,dateID+1)
        else:
            return False
            
    
    ###############################################
    # still need to balance DOW
    def dow_issue_mat(self):
        scores = self.df.copy()
        scores[:]=1.0
        for col in ['mof','sf','mofbp','sfbp']:
            for row in range(104):
                dateID = row+1
                resID = self.df[col][row]
                if resID>0:
                    scores[col][row]=self.check_dow(resID,dateID,col)
        return scores
        
        # create a boolean matrix of DOW issues
            # 1: >5 of a given DOW for the year
            # 2: >1 DOW in same month
            # 3: both buddy shifts at a site are same DOW

    
    def check_dow(self,resID,dateID,col):
        dow = self.dates.get_dow(dateID)
        month=self.dates.get_month(dateID)
        countyear = sum([x==resID for x in self.df[:][self.dates.df_dates['dow']==dow].values.flatten()])
        monthsame = 1<sum([x==resID for x in self.df[:][(self.dates.df_dates['dow']==dow) and (self.dates.df_dates['month']==month)].values.flatten()])
        if resID>14:
            buddysame = False
        else:
            # filter by 
            sel = [j for j in islice((i for i,x in enumerate(self.df[col].values) if x==resID),2)]
            buddy = self.dates.df_dates['dow'][sel].values
            buddysame = 1<len(np.unique(buddy))
        if buddysame:
            #print('buddysame')
            return 0
        else:
            if any([monthsame,countyear>5]):
                return 0.1
            else:
                return 1
                 
    def dow_swap(self,wkend,col):
        vals = self.df[col][self.dates.df_dates['wkend']==wkend].values
        self.df[col][self.dates.df_dates['wkend']==wkend]=vals[::-1]
        
    
    def multi_dow_swap(self):
        dowmat = self.dow_issue_mat()
        d = {vu:sum([v==vu for v in dowmat.values.flatten()]) for vu in np.unique(dowmat.values.flatten())}
        print(d)
        imperfect = sum([v<1 for v in dowmat.values.flatten()])
        
            
        for col in ['mof','sf','mofbp','sfbp']:
            for row in range(104):
                wkend = self.dates.df_dates['wkend'][row]
                if dowmat[col][row]==0:
                    if np.random.rand()<1.0/(imperfect/4.0):
                        print('swap')
                        self.dow_swap(wkend,col)
                elif dowmat[col][row]<0.2:
                    if np.random.rand()<1.0/(imperfect/2.0):
                        print('swap')
                        self.dow_swap(wkend,col)
                elif dowmat[col][row]<1:
                    if np.random.rand()<1.0/imperfect:
                        print('swap')
                        self.dow_swap(wkend,col)
                        
        

        
    def score_matrix(self):
        ### create a matrix of scores for each current assignment
        #scores = pd.DataFrame(columns=['mof','sf','mofbp','sfbp'],)
        categories = ['countblock','countwkend','priorwkend','latebuddy','earlysolo','daybefore','other']
        catdic = {k:0 for k in categories}
        scores = self.df.copy()
        scores[:]=1.0
        for col in ['mof','sf','mofbp','sfbp']:
            for row in range(104):
                dateID = row+1
                resID = int(self.df[col][row])
                if resID>0:
                    #print('resID={}, dateID={}, row={}, col={}'.format(resID,dateID,row,col))
                    score = self.dates.mat[row,resID-1]
                    # *** here enter additional filters to adjust score
                    factors = [self.count_block(resID,dateID)>1]
                    factors.append(self.count_wkend(resID,dateID)>1)
                    factors.append(self.prior_wkend(resID,dateID))
                    factors.append(self.latebuddy(resID,dateID,col))
                    factors.append(self.earlysolo(resID,dateID,col))
                    factors.append(self.day_before_inpt(resID,dateID))
                    #print(factors)
                    if any(factors):
                        score = 0
                        for i in range(len(factors)):
                            if factors[i]:
                                catdic[categories[i]]=catdic[categories[i]]+1
                    scores[col][row]=score
        print(catdic)
        return scores
    
    def check_single(self,col,row):
        categories = ['countblock','countwkend','priorwkend','latebuddy','earlysolo','daybefore','other']
        dateID = row+1
        resID = int(self.df[col][row])
        if resID>0:
            score = self.dates.mat[row,resID-1]
            factors = [self.count_block(resID,dateID)>1]
            factors.append(self.count_wkend(resID,dateID)>1)
            factors.append(self.prior_wkend(resID,dateID))
            factors.append(self.latebuddy(resID,dateID,col))
            factors.append(self.earlysolo(resID,dateID,col))
            factors.append(self.day_before_inpt(resID,dateID))
            #print(factors)
            if any(factors):
                score = 0
                for i in range(len(factors)):
                    if factors[i]:
                        catdic[categories[i]]=catdic[categories[i]]+1
    
    def shuffle(self,verbose):
        counts = {0:0,0.2:0,0.5:0}
        scores = self.score_matrix()
        for col in ['mof','sf','mofbp','sfbp']:
            sel = []
            for row in range(104):
                if scores[col][row]==0:
                    counts[0]=counts[0]+1
                    if np.random.rand()>0.5:
                        sel.append(row)
                elif scores[col][row]<0.25:
                    counts[0.2]=counts[0.2]+1
                    if np.random.rand()>0.95:
                        sel.append(row)
                elif scores[col][row]<0.8:
                    counts[0.5]=counts[0.5]+1
                    if np.random.rand()>0.97:
                        sel.append(row)
                    if np.random.rand()>0.99:
                        sel.append(row)

            self.swap(sel,[col for i in range(len(sel))])
            if verbose:
                print('moved {} positions'.format(len(sel)))
        
        # now move buddy shifts to account for movements
        for col,buddycol in {'mof':'mofbp','sf':'sfbp'}.items():
            # have to identify buddy spots once again
            buddyrows = []
            for res in range(14):
                c = 0
                for row in range(104):
                    if self.df[col][row]==res:
                        buddyrows.append(row)
                        c=c+1
                        if c>1:
                            break
            #####

            missing = []
            extra = []
            vals = []
            for row in range(104):
                if self.df[buddycol][row]>0:
                    if row not in buddyrows:
                        extra.append((buddycol,row))
                        vals.append(self.df[buddycol][row])
                        self.df[buddycol][row]=0
                if row in buddyrows:
                    if self.df[buddycol][row]<1:
                        missing.append((buddycol,row))
        if verbose:
            print('---missing---{}'.format(missing))
            print('---extra---{}'.format(extra))
            print(counts)
        vals = np.array(vals)
        np.random.shuffle(vals)
        for i in range(len(vals)):
            self.df[missing[i][0]][missing[i][1]]=vals[i]
            

            
            
            
    def swap(self,rows,cols):
        vals = []
        for i in range(len(rows)):
            vals.append(self.df[cols[i]][rows[i]])
        vals = np.array(vals)
        np.random.shuffle(vals)
        for i in range(len(rows)):
            self.df[cols[i]][rows[i]]=vals[i]

In [198]:
test = selector(['A','B','C'])

In [339]:
test = pd.DataFrame(columns=['A','B'])
test = test.append({'A':1,'B':2},ignore_index=True)
test2 = pd.DataFrame(columns=['A','B'])
test2 = test2.append({'A':3,'B':4},ignore_index=True)

In [340]:
test3 = pd.concat([test,test2],0)

In [341]:
test3

   A  B
0  1  2
0  3  4